/*信息在js文件中*/
/*div, p{
	border: 2px solid red;
}*/

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #d6cbcb;
}

#calculator-position {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 100%;
}

#calculator {
	position: absolute;
	width: 100%;
	height: 600px;
	bottom: 100px;
}

#calculator p {
	position: absolute;
	top: -20px;
	left: 93px;
	font-size: 40px;
	font-weight: bold;
	/*color: #009900; */
	color: black;
	font-family: 黑体;
}

#main {
	position: absolute;
	top: 95px;
	width: 100%;
	height: 450px;
	border: 2px solid black;
	border-radius: 10%;
	background-color: black;
}

#main input {
	border: 0;
	background-color: black;
	color: white;
	text-align: right;
	font-size: 30pt;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 80%;
	height: 40px;
}

#main #key {
	/*border: 2px solid blue;*/
	position: absolute;
	height: 350px;
	width: 90%;
	top: 90px;
	left: 20px;
}
button {
	background-color: #edeaea; 
	font-weight: bold;
	font-size: 20pt;
	height: 50px;
	width: 80px;
	margin: 7px 3px;
	border: 0;
	padding: 0;
}

button.number {
	background-color: white;
}

button.orange {
	background-color: #f9b60c;
}