div, p{
	border: 2px solid red;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#calculator-position {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 100%;
}

#calculator {
	position: absolute;
	width: 100%;
	height: 600px;
	bottom: 100px;
}

#calculator p {
	position: absolute;
	top: -20px;
	left: 93px;
	font-size: 40px;
	font-weight: bold;
	color: #00CC33; 
}

#main {
	position: absolute;
	top: 95px;
	width: 100%;
	height: 450px;
	border: 2px solid black;
}

#main input {
	text-align: right;
	font-size: 20pt;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 90%;
	height: 40px;
}

#main #key {
	border: 2px solid blue;
	position: absolute;
	height: 350px;
	width: 90%;
	top: 90px;
	left: 20px;
}
button {
	font-weight: bold;
	font-size: 20pt;
	height: 50px;
	width: 80px;
	margin: 7px 3px;
}